<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xml="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla :: head">
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="m-0 row ">
        <div class="container ">
            <div class="row mt-5 justify-content-center ">
                <div class="col-auto text-center">
                    <h1>Login</h1>
                </div>
            </div>
            <div class="row justify-content-center ">
                <div class="col-auto text-center">
                    <form method="post" th:action="@{/login}" >
                        <label for="username" class="form-label">Username: </label>
                        <input type="text" name="username" id="username" class="form-control"/>
                        <br/>
                        <label for="password" class="form-label">Password </label>
                        <input type="password" name="password" id="password" class="form-control"/>
                        <br/>
                        <input type="submit" value="Login" class="btn btn-primary"/>
                    </form>
                </div>
            </div>
        </div>



    </body>
</html>
